.left-area {
    background-image: url("/images/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.right_area {
    width: 50px;
}

.container {
    max-width: 100% !important;
}
.overlay {
    background: rgba(193, 167, 185, 0.4);
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);
}
