@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

$sub_color: #f5cbcb;
$main-black: #554f4f;
$border-color: #888;

button.middle {
    color: $main-black;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #ffffff;
    border: 2px #888 solid;
    border-radius: 30px;
    width: 300px;
    height: 60px;
    padding: 10px;
    // margin: 5px;
}
button.middle:hover {
    background-color: $main-black;
    color: #fff;
}

button.large {
    color: $main-black;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    width: 200px;
    padding: 10px;
    // border: 1px #333 solid;
    border-radius: 25px;
    z-index: 10;
}

button.genre {
    color: $main-black;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff;
    border: 3px #ada2a2 solid;
    width: 200px;
    padding: 10px;
    // border: 1px #333 solid;
    border-radius: 25px;
    z-index: 10;
}
button.genre:hover {
    background-color: $main-black;
    color: #fff;
}

button.original-box-shadow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-black;
    background-color: #efecec;
    font-size: 1rem;
    width: 200px;
    // height: 100px;
    border-radius: 25px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.4);
    z-index: 10;
}
button.original-box-shadow:hover {
    background-color: $main-black;
}

// 入力フォーム共通スタイル
.my-input {
    border: 2px $border-color solid !important;
}
.my-label {
    // font-size: 1.2rem !important;
    margin-bottom: 5px;
}
